<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>CInema - Đăng nhập</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/app.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="flex flex-col items-center justify-center h-screen bg-loginBackground w-full relative">
  <div class="absolute z-10 h-fit rounded-2xl bg-formBackground flex justify-center shadow-2xl w-4/5 sm:w-3/5 lg:w-3/4 2xl:w-[1530px] py-10">
    <div class="relative mt-5 hidden w-1/2 flex-1 px-8 lg:block">
      <div class="text-customBack bg-image h-full w-full bg-contain bg-no-repeat"></div>
      <p class="absolute left-14 top-0 pe-20 text-2xl font-bold uppercase text-sky-300">
        Cùng bạn trên mọi nẻo đường
      </p>
    </div>
    <div class="h-5/6 w-full lg:w-1/2">
      <div class="flex w-full flex-col items-center justify-center">
        <p class="text-[16px] font-bold font-comfortaa text-sky-300">Welcome</p>
        <h1 class="text-label text-center font-inter text-[16px] font-bold sm:text-[28px]">
          TO TRIP BOOKING
        </h1>
      </div>
      <div layout:fragment="form" class="px-10 w-full">
      </div>
    </div>
  </div>
  <div class="absolute bg-gradient-to-b from-sky-400 to-sky-600 h-56 w-full top-0 z-0 flex justify-center items-start">
    <a th:href="${home_page}">
      <div class="bg-logo w-72 h-14 bg-cover bg-center"></div>
    </a>
  </div>
</div>
<footer class="absolute top-full w-full bg-sky-50">
  <div class="container mx-auto w-full flex-col flex-wrap items-start justify-between gap-5 px-4 py-10 md:px-0 lg:grid lg:grid-cols-3">
    <div class="flex flex-col lg:col-span-2">
      <div class="flex h-fit items-center justify-start gap-5">
        <img src="" alt="" class="h-16" />
        <div class="h-fit">
          <h2 class="mb-1 text-base font-semibold text-teal-600">
            Trung tâm tổng đài & CSKH
          </h2>
          <h1 class="text-sky-600 md:text-3xl">1900 6067</h1>
        </div>
      </div>
      <h2 class="my-4 font-medium uppercase text-teal-700">
        Công ty cổ phần xe khách Phương Trang - FUTA Bus Lines
      </h2>
      <p class="mt-1 text-gray-600">
        <span class="inline text-sky-600">Địa chỉ: </span>Số 01 Tô
        Hiến Thành, Phường 3, Thành phố Đà Lạt, Tỉnh Lâm Đồng, Việt
        Nam.
      </p>
      <p class="mt-1 text-gray-600">
        <span class="inline text-sky-600">Email: </span>
        hotro@futa.vn{' '}
      </p>
      <p class="mt-1 text-gray-600">
        <span class="inline text-sky-600">Điện thoại: </span>{' '}
        02838386852
      </p>
    </div>
    <div class="flex items-center justify-between">
      <div>
        <h3 class="font-semibold text-teal-700">
          FUTA Bus Lines
        </h3>
        <ul class="text-gray-5 00 pt-4">
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Về chúng tôi
          </li>
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Lịch trình
          </li>
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Tuyển dụng
          </li>
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Tin tức
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold text-teal-700">Hỗ trợ</h3>
        <ul class="text-gray-5 00 pt-4">
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Tra cứu thông tin
          </li>
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Câu hỏi thường gặp
          </li>
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Chính sách và điều khoản
          </li>
          <li class="cursor-pointer py-1 md:hover:text-sky-600">
            Hướng dẫn đặt vé
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-full bg-sky-600 py-2">
    <h5 class="w-full text-center text-sm text-white">
      © 2023 | Bản quyền thuộc về Công ty Cổ Phần Xe khách Phương
      Trang - FUTA Bus Lines 2023
    </h5>
  </div>
</footer>
</body>
</html>
