<!DOCTYPE html>
<html layout:decorate="~{layout/auth-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " lang="">
<head>
    <meta charset="UTF-8">
    <title>TRIP BOOKING - Quên mật khẩu</title>
</head>
<body>
<div layout:fragment="form">
    <form class="w-full mt-6 flex flex-col justify-center items-center"
          id="change-password"
          method="post"
          th:action="@{/auth/forgot-password}"
    >
        <div class="mt-8 w-full">
            <input
                    name="email"
                    id="email"
                    th:value="${email}"
                    class="hidden"
            >
            <input
                    name="verify"
                    id="verify"
                    th:value="${token}"
                    class="hidden"
            >
            <label class="block text-[13px] text-label font-medium font-comfortaa uppercase mb-4" for="password">
                Mật khẩu <span class="text-[13px] text-red-800 font-medium font-comfortaa">*</span>
            </label>
            <input
                    class="w-full form-input bg-transparent placeholder-placeHolder text-label font-medium font-comfortaa border-0 h-8 focus:border-0 focus:ring-0 focus:outline-none"
                    id="password"
                    name="password"
                    placeholder="**********"
                    required
                    type="password"
            >
            <div class="w-full h-[1px] bg-customBack"></div>
        </div>
        <button class="px-0 sm:px-5 py-2 text-white bg-buttonColor text-sm sm:text-[15px] w-[150px] sm:w-[160px] horizontal-line rounded-3xl font-inter font-semibold" type="submit">
            Submit
        </button>
    </form>
</div>
</body>
</html>